{% block content %}
  <div class="jumbotron d-flex flex-column justify-content-center align-items-center">
    <h1 class="display-4" style="font-size: 3rem;">Witaj w Ankietowo!</h1>
    <p class="lead" style="font-size: 2rem; text-align: center;">Zapraszamy do udziału w naszych ankietach.</p>
    <a class="btn btn-primary btn-lg mt-3" href="{% url 'polls:index' %}"
       role="button" style="font-size: 2rem; text-align: center;">Przejdź do ankiet</a>
  </div>
{% endblock %}

{% block extra_css %}
  <style>
    .jumbotron {
      margin-top: 0;
      background-image: url("https://source.unsplash.com/1600x900/?nature,water");
      background-size: cover;
      background-position: center center;
      height: 100vh;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
      color: #fff;
    }

    .jumbotron h1,
    .jumbotron p,
    .jumbotron a {
      text-align: center;
    }

    .jumbotron hr {
      width: 100px;
      border: 1px solid #fff;
    }

    .jumbotron .btn-primary {
      margin-top: 30px;
    }
  </style>
{% endblock %}
